

<!DOCTYPE html>
<html>
  <head>
    

      
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="robots" content="NONE,NOARCHIVE" />
      

      <title> Kraft User API </title>

      
        
          <link rel="stylesheet" type="text/css" href="/static/rest_framework/css/bootstrap.min.css"/>
          <link rel="stylesheet" type="text/css" href="/static/rest_framework/css/bootstrap-tweaks.css"/>
        

        <link rel="stylesheet" type="text/css" href="/static/rest_framework/css/prettify.css"/>
        <link rel="stylesheet" type="text/css" href="/static/rest_framework/css/default.css"/>
      

    
  </head>

  
  <body class="">

    <div class="wrapper">
      
        <div class="navbar navbar-static-top navbar-inverse">
          <div class="container">
            <span>
              
      <a href = "" rel="nofollow" class="navbar-brand">
        Kraft User API's<span class="version">1.0 </span>
      </a>

      <head>
      <style>
      table {
          width:100%;
      }
      table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
      }
      th, td {
          padding: 15px;
          text-align: left;
      }
      table#t01 tr:nth-child(even) {
          background-color: #eee;
      }
      table#t01 tr:nth-child(odd) {
         background-color: #fff;
      }
      table#t01 th {
          background-color: black;
          color: white;
      }
      </style>






      </head>

      <table class="table" >
        <thead>
            <tr>
                <th>API Name</th>
                <th>API URL</th>
            </tr>
        </thead>
        <tbody>

                <tr>
                    <td>Create user</td>
                    <td>http://127.0.0.1:8000/user/auth/create-user/v0/</td>
                </tr>

                <tr>
                    <td>User Login</td>
                    <td>http://127.0.0.1:8000/user/auth/login/v0/</td>
                </tr>

                <tr>
                    <td>Swagger Documentation</td>
                    <td>http://127.0.0.1:8000/swagger/v0/</td>
                </tr>

                <tr>
                    <td>Delete user</td>
                    <td>http://127.0.0.1:8000/user/auth/delete-user/v0/</td>
                </tr>

                <tr>
                    <td>Users List</td>
                    <td>http://127.0.0.1:8000/user/v0/</td>
                </tr>

                <tr>
                    <td>User Logout</td>
                    <td>http://127.0.0.1:8000/user/auth/logout/v0/</td>
                </tr>

                <tr>
                    <td>User Preference</td>
                    <td>http://127.0.0.1:8000/user/preferences/create/v0/</td>
                </tr>

                <tr>
                    <td>User Favourite</td>
                    <td>http://127.0.0.1:8000/user/preferences/favourite/create/v0/</td>
                </tr>
        </tbody>
        </table>






    

    
      <script>
        window.drf = {
          csrfHeaderName: "X-CSRFToken",
          csrfCookieName: "csrftoken"
        };
      </script>
      <script src="/static/rest_framework/js/jquery-1.12.4.min.js"></script>
      <script src="/static/rest_framework/js/ajax-form.js"></script>
      <script src="/static/rest_framework/js/csrf.js"></script>
      <script src="/static/rest_framework/js/bootstrap.min.js"></script>
      <script src="/static/rest_framework/js/prettify-min.js"></script>
      <script src="/static/rest_framework/js/default.js"></script>
      <script>
        $(document).ready(function() {
          $('form').ajaxForm();
        });
      </script>


  </body>
  
</html>