




<!DOCTYPE html>
<html>
  <head>
    

      
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="robots" content="NONE,NOARCHIVE" />
      

      <title>Users List</title>

      
        
          <link rel="stylesheet" type="text/css" href="/static/rest_framework/css/bootstrap.min.css"/>
          <link rel="stylesheet" type="text/css" href="/static/rest_framework/css/bootstrap-tweaks.css"/>
        

        <link rel="stylesheet" type="text/css" href="/static/rest_framework/css/prettify.css"/>
        <link rel="stylesheet" type="text/css" href="/static/rest_framework/css/default.css"/>
      

    
  </head>

  
  <body class="">

    <div class="wrapper">
      
        <div class="navbar navbar-static-top navbar-inverse">
          <div class="container">
            <span>
              
                <a class='navbar-brand' rel="nofollow" href='#'>
                    Users Kraft API
                </a>
              
            </span>
            <!--<ul class="nav navbar-nav pull-right">             -->
                  <!--<li><a href='/api-auth/v0/login/?next=/user/v0/'>Log in</a></li>              -->
            <!--</ul>-->
          </div>
        </div>
      

      <div class="container">
        
          <ul class="breadcrumb">
            
              
                <li class="active"><a href="/user/v0/">Users List</a></li>
              
            
          </ul>
        

        <!-- Content -->
        <div id="content">

          
            <form id="get-form" class="pull-right">
              <fieldset>
                
                  <div class="btn-group format-selection">
                    <a class="btn btn-primary js-tooltip" href="/user/v0/" rel="nofollow" title="Make a GET request on the Users List resource">GET</a>

                    <button class="btn btn-primary dropdown-toggle js-tooltip" data-toggle="dropdown" title="Specify a format for the GET request">
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                      
                        <li>
                          <a class="js-tooltip format-option" href="/user/v0/?format=json" rel="nofollow" title="Make a GET request on the Users List resource with the format set to `json`">json</a>
                        </li>
                      
                        <li>
                          <a class="js-tooltip format-option" href="/user/v0/?format=api" rel="nofollow" title="Make a GET request on the Users List resource with the format set to `api`">api</a>
                        </li>
                      
                    </ul>
                  </div>
                
              </fieldset>
            </form>
          

          
            <form class="button-form" action="/user/v0/" data-method="OPTIONS">
              <button class="btn btn-primary js-tooltip" title="Make an OPTIONS request on the Users List resource">OPTIONS</button>
            </form>
          

          

          

            <div class="content-main">
              <div class="page-header">
                <h1>Users List</h1>
              </div>
              <div style="float:left">
                
                  
                
              </div>

              

              <!--<div class="request-info" style="clear: both" >-->
                <!--<pre class="prettyprint"><b>GET</b> /user/v0/</pre>-->
              <!--</div>-->

              <div class="response-info">
                <pre class="prettyprint"><span class="meta nocode"><b>HTTP 200 OK</b>
<b>Allow:</b> <span class="lit">GET, HEAD, OPTIONS</span>
<b>Content-Type:</b> <span class="lit">application/json</span>
<b>Vary:</b> <span class="lit">Accept</span>

</span>{
    &quot;-LHJKbS7-COYXxL0uZEU&quot;: {
        &quot;username&quot;: &quot;abc&quot;,
        &quot;email&quot;: &quot;<a href="mailto:admin@gmail.com">admin@gmail.com</a>&quot;,
        &quot;address&quot;: &quot;wgdb f&quot;,
        &quot;phone&quot;: &quot;1234567899&quot;,
        &quot;password&quot;: &quot;12345&quot;,
        &quot;first_name&quot;: &quot;afwef&quot;,
        &quot;dob&quot;: &quot;2011-01-01&quot;,
        &quot;last_name&quot;: &quot;sfef&quot;,
        &quot;gender&quot;: &quot;Male&quot;
    },
    &quot;-LHJL8_3KCHBGksooEa0&quot;: {
        &quot;username&quot;: &quot;apple&quot;,
        &quot;email&quot;: &quot;<a href="mailto:apple@gmail.com">apple@gmail.com</a>&quot;,
        &quot;address&quot;: &quot;wcrefctr&quot;,
        &quot;phone&quot;: &quot;3456711255&quot;,
        &quot;password&quot;: &quot;12345&quot;,
        &quot;first_name&quot;: &quot;i&quot;,
        &quot;dob&quot;: &quot;2011-01-01&quot;,
        &quot;last_name&quot;: &quot;phone&quot;,
        &quot;gender&quot;: &quot;Male&quot;
    },
    &quot;-LHJKpPTlTYZ71itflqE&quot;: {
        &quot;username&quot;: &quot;xyz&quot;,
        &quot;email&quot;: &quot;<a href="mailto:test@gmail.com">test@gmail.com</a>&quot;,
        &quot;address&quot;: &quot;nnnnnbbhdjsdafsew&quot;,
        &quot;phone&quot;: &quot;9876543210&quot;,
        &quot;password&quot;: &quot;12345&quot;,
        &quot;first_name&quot;: &quot;kafa&quot;,
        &quot;dob&quot;: &quot;2011-01-01&quot;,
        &quot;last_name&quot;: &quot;kads&quot;,
        &quot;gender&quot;: &quot;Male&quot;
    },
    &quot;-LHJKzz7RcyNQY8RwENc&quot;: {
        &quot;username&quot;: &quot;zebra&quot;,
        &quot;email&quot;: &quot;<a href="mailto:123@gmail.com">123@gmail.com</a>&quot;,
        &quot;address&quot;: &quot;qeweregcsracrs&quot;,
        &quot;phone&quot;: &quot;3456712345&quot;,
        &quot;password&quot;: &quot;12345&quot;,
        &quot;first_name&quot;: &quot;dasfh&quot;,
        &quot;dob&quot;: &quot;2011-01-01&quot;,
        &quot;last_name&quot;: &quot;wmefbh&quot;,
        &quot;gender&quot;: &quot;Male&quot;
    },
    &quot;-LHZAdg54I2v_UGSe9-i&quot;: {
        &quot;username&quot;: &quot;somerandom&quot;,
        &quot;email&quot;: &quot;<a href="mailto:somerandom@gmail.com">somerandom@gmail.com</a>&quot;,
        &quot;address&quot;: &quot;string&quot;,
        &quot;phone&quot;: &quot;1234567890&quot;,
        &quot;password&quot;: &quot;12345&quot;,
        &quot;first_name&quot;: &quot;some&quot;,
        &quot;dob&quot;: &quot;1992-11-11&quot;,
        &quot;last_name&quot;: &quot;random&quot;,
        &quot;gender&quot;: &quot;Male&quot;
    }
}</pre>
              </div>
            </div>

            
              

              
            
        </div><!-- /.content -->
      </div><!-- /.container -->
    </div><!-- ./wrapper -->

    

    
      <script>
        window.drf = {
          csrfHeaderName: "X-CSRFTOKEN",
          csrfCookieName: "csrftoken"
        };
      </script>
      <script src="/static/rest_framework/js/jquery-1.12.4.min.js"></script>
      <script src="/static/rest_framework/js/ajax-form.js"></script>
      <script src="/static/rest_framework/js/csrf.js"></script>
      <script src="/static/rest_framework/js/bootstrap.min.js"></script>
      <script src="/static/rest_framework/js/prettify-min.js"></script>
      <script src="/static/rest_framework/js/default.js"></script>
      <script>
        $(document).ready(function() {
          $('form').ajaxForm();
        });
      </script>
    

  </body>
  
</html>
